[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
zappa = "*"
flask = "*"
pip = "==9.0.3"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
